# Gradle
.gradle/
**/build/
!**/src/**/build/

# Ignore Gradle GUI config
gradle-app.setting

# Keep Gradle wrapper files tracked
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# Cache of project
.gradletasknamecache

# Eclipse
.project
.classpath

# IntelliJ
.idea/
*.iml
out/

# Kotlin plugin data
.kotlin/
.codex/
.codex/
